[submodule "headunit"]
	path = modules/android-auto/headunit
	url = https://github.com/viktorgino/libheadunit.git
[submodule "themes/default-theme"]
	path = themes/default-theme
	url = https://github.com/lukfi/headunit-gui.git
[submodule "doxygen-bootstrapped"]
	path = doxygen-bootstrapped
	url = https://github.com/Velron/doxygen-bootstrapped.git
[submodule "modules/volume-control/qml/plasma-pa"]
	path = modules/volume-control/qml/plasma-pa
	url = https://github.com/KDE/plasma-pa.git
[submodule "modules/navit/navit"]
	path = modules/navit/navit
	url = https://github.com/viktorgino/navit
[submodule "modules/hup_media-player"]
	path = modules/hup_media-player
	url = https://github.com/lukfi/hup_media-player.git
	branch = master
[submodule "modules/welle.io"]
	path = modules/welle.io
	url = https://github.com/lukfi/welle.io.git
	branch = lf_delevop
[submodule "modules/hup_radio"]
	path = modules/hup_radio
	url = https://github.com/lukfi/hup_radio.git
[submodule "modules/hup_volume-control"]
	path = modules/hup_volume-control
	url = https://github.com/lukfi/hup_volume-control.git
	branch = master
[submodule "modules/hup_canbus"]
	path = modules/hup_canbus
	url = https://github.com/lukfi/hup_canbus.git
[submodule "modules/hup_buttons"]
	path = modules/hup_buttons
	url = https://github.com/lukfi/hup_buttons.git
[submodule "modules/hup_camera"]
	path = modules/hup_camera
	url = https://github.com/lukfi/hup_camera.git
